@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    input {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    p {
        @apply text-gray-800;
        @apply text-base;
    }
    table {
        --bs-table-bg: transparent;
        --bs-table-accent-bg: transparent;
        --bs-table-striped-color: #212529;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
        --bs-table-active-color: #212529;
        --bs-table-active-bg: rgba(0, 0, 0, 0.1);
        --bs-table-hover-color: #212529;
        --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
    }
    thead {
        @apply border-b;
    }
    th {
        @apply text-sm;
        @apply font-medium;
        @apply text-center;
        @apply px-6;
        @apply py-4;
    }
    td {
        @apply text-sm;
        @apply font-medium;
        @apply text-center;
        @apply px-6;
        @apply py-4;
    }
}

@layer components{
    .social {
        width: 63px;
        height: 63px;
        background: url(/images/social.jpg) no-repeat;
        display: inline-block;
        border-radius: 12px;
        opacity: 0.6;
    }
    .social:hover {
        opacity: 1;
    }
    .form-table-head-field {
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: left;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        --tw-bg-opacity: 1;
        background-color: rgba(191, 219, 254, var(--tw-bg-opacity));
        --tw-border-opacity: 1;
        border-color: rgba(147, 197, 253, var(--tw-border-opacity));
        border-bottom-width: 2px;
    }
    .form-table-field {
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: left;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        --tw-bg-opacity: 1;
        background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
        --tw-border-opacity: 1;
        border-color: rgba(209, 213, 219, var(--tw-border-opacity));
        border-bottom-width: 2px;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .5rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn-start {
        border-radius: .5rem 0rem 0rem .5rem;
    }
    .btn-end {
        border-radius: 0rem .5rem .5rem 0rem;
    }
    .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .btn-warning {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }
    .btn-dark {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
    .btn-link {
        font-weight: 400;
        color: #007bff;
        background-color: transparent;
    }
    .alert {
        position: relative;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem
    }
    .alert-heading {
        color: inherit
    }
    .alert-link {
        font-weight: 700
    }
    .alert-dismissible {
        padding-right: 3rem
    }
    .alert-dismissible .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 1.25rem 1rem
    }
    .alert-primary {
        color: #084298;
        background-color: #cfe2ff;
        border-color: #b6d4fe
    }
    .alert-primary .alert-link {
        color: #06357a
    }
    .alert-secondary {
        color: #41464b;
        background-color: #e2e3e5;
        border-color: #d3d6d8
    }
    .alert-secondary .alert-link {
        color: #34383c
    }
    .alert-success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc
    }
    .alert-success .alert-link {
        color: #0c4128
    }
    .alert-info {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb
    }
    .alert-info .alert-link {
        color: #04414d
    }
    .alert-warning {
        color: #664d03;
        background-color: #fff3cd;
        border-color: #ffecb5
    }
    .alert-warning .alert-link {
        color: #523e02
    }
    .alert-danger {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7
    }
    .alert-danger .alert-link {
        color: #6a1a21
    }
    .alert-light {
        color: #636464;
        background-color: #fefefe;
        border-color: #fdfdfe
    }
    .alert-light .alert-link {
        color: #4f5050
    }
    .alert-dark {
        color: #141619;
        background-color: #d3d3d4;
        border-color: #bcbebf
    }
    .alert-dark .alert-link {
        color: #101214
    }
}

@layer utilities {
    .prevent-reposition{
        padding-left: calc(100vw - 100%);
    }
    .fullscreen-container{
        width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
    }
}